<mat-toolbar>
  <div class="container-logo">
    <img src="https://github.com/diegooo01/FindU-Images/blob/main/FindU-brand-rmv-bg-white.png?raw=true" alt="Logo Cambiazo">
  </div>
  <nav class="container-nav">
    <ul>
      <li><a routerLink="/home" title="Inicio">Inicio</a></li>
    </ul>
  </nav>

  <nav class="container-nav">
    <ul>
      <li><a>Hernan Morales</a></li>
      <li>
        <a (click)="logout()" title="Cerrar sesión">
          <img src="https://github.com/diegooo01/FindU-Images/blob/main/logout-icon.png?raw=true" alt="Log out icon" class="logout-icon">
        </a>
      </li>
    </ul>
  </nav>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="burger">
    <mat-icon style="color: #e4aca8">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="burger-content">
      <div>
        <p><a>Hernan Morales</a></p>
      </div>
      <div class="line"></div>
      <div style="display: flex; align-items: center; gap: 1rem; margin-top: 1.5rem;">
        <div class="option">
          <p><a routerLink="/home" title="Inicio">Inicio</a></p>
        </div>
        <div class="option">
          <p>
            <a (click)="logout()" title="Cerrar sesión">
              <img src="https://github.com/diegooo01/FindU-Images/blob/main/logout-red-icon.png?raw=true" alt="Log out icon" class="logout-icon">
            </a>
          </p>
        </div>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
