<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <button>
      <img src="https://github.com/diegooo01/FindU-Images/blob/main/google-icon.png?raw=true" alt="Google icon">
      Iniciar sesión con Google
    </button>
    <button>
      <img src="https://github.com/diegooo01/FindU-Images/blob/main/facebook-icon.png?raw=true" alt="Google icon">
      Iniciar sesión con Facebook
    </button>
    <div style="display: flex; align-items: center; padding-top: 1rem; padding-bottom: 1rem">
      <hr style="flex: 1; border: none; border-top: 2px solid #fff;">
      <p style="margin: 0 10px;">Registrarse</p>
      <hr style="flex: 1; border: none; border-top: 2px solid #fff;">
    </div>
    <input formControlName="email" placeholder="Correo electrónico..." type="email" class="input-filed" required>
    <input formControlName="password" placeholder="Contraseña..." type="password" class="input-filed" required>
    <div class="input-send">
      <input type="submit" class="submit-button" value="Continuar">
    </div>
    <div style="text-align: center">
      <p>¿No tienes una cuenta? <a routerLink="/register" title="Registro">Regístrate</a></p>
    </div>
</form>
