<div class="chat-content" *ngIf="user">
  <div class="user-chat-info">
    <div class="user-image">
      <img [src]="user.image" alt="User chat image" class="user-image">
    </div>
    <div class="user-info">
      <div style="display: flex;justify-content: space-between">
        <h1>{{ user.name }}, {{ user.age }}</h1>
        <img src="https://github.com/diegooo01/FindU-Images/blob/main/verified-icon.png?raw=true" alt="Verified icon" class="verified">
      </div>
      <p>Estudiante de la carrera de {{ user.career }}, está cursando el ciclo número {{ user.level }} y se encuentra estudiando en la {{ user.college }}.</p>
    </div>
  </div>
  <div class="user-chat-content">
    <div class="user-chat-messages">

    </div>
    <form action="">
      <input type="text" placeholder="Envía un mensaje..." required>
    </form>
  </div>
</div>
