<div class="chat-content">
  <div class="user-chat-info">
    <div class="user-image">
      <img src="https://github.com/diegooo01/FindU-Images/blob/main/user-image-1.png?raw=true" alt="User chat image" class="user-image">
    </div>
    <div class="user-info">
      <div style="display: flex;justify-content: space-between">
        <h1>Hernan, 21</h1>
        <img src="https://github.com/diegooo01/FindU-Images/blob/main/verified-icon.png?raw=true" alt="Verified icon" class="verified">
      </div>
      <p>Estudiante del 5to ciclo de la carrera de Ingeniería de Software en la UPC.</p>
    </div>
  </div>
  <div class="user-chat-content">
    <div class="user-chat-messages">

    </div>
    <form action="">
      <input type="text" placeholder="Envía un mensaje..." required>
    </form>
  </div>
</div>
