<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div style="display: flex; align-items: center; padding-bottom: 1rem">
    <hr style="flex: 1; border: none; border-top: 2px solid #fff;">
    <p style="margin: 0 10px;">Registrarse</p>
    <hr style="flex: 1; border: none; border-top: 2px solid #fff;">
  </div>
  <input placeholder="Nombres..." type="text" formControlName="name" class="input-filed" required>
  <input placeholder="Apellidos..." type="text" formControlName="lastname" class="input-filed" required>
  <input placeholder="Correo electrónico..." type="email" formControlName="email" class="input-filed" required>
  <input placeholder="Contraseña..." type="password" formControlName="password" class="input-filed" required>
  <input placeholder="Universidad..." type="text" formControlName="college" class="input-filed" required>
  <input placeholder="Carrera..." type="text" formControlName="career" class="input-filed" required>
  <input placeholder="Número de ciclo..." type="number" formControlName="level" class="input-filed" required>
  <input placeholder="Edad..." type="number" formControlName="age" class="input-filed" required>
  <input placeholder="Url de imagen..." type="text" formControlName="image" class="input-filed" required>
  <div class="input-send">
    <input type="submit" class="submit-button" value="Registrate">
  </div>
  <div style="text-align: center">
    <p>¿Ya tienes una cuenta? <a routerLink="/login" title="Inicio de sesión">Inicia sesión</a></p>
  </div>
</form>
